.circle-div
{
	
	border-radius:50%;
	background-color:red;
	position:relative;
	width:70px;
	height:70px;
	border:2px black solid;
	-webkit-animation-name: example; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-delay: 0s;
  animation-name: example;
  animation-duration: 6s;
  animation-delay:0s;
  animation:example 6s infinite alternate;
 10
  
  
}
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
 
  50%  {background-color:blue; left:50px; top:50px;}
 
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes example {
	0%   {background-color:red; left:0px; top:0px;}
	20% {height:70px;}
	25%	 {background-color:yellow;left:300px; top:540px;height:40px}
	30%	{height:70px;}
	50%	 {background-color:green; left:600px;top:0px;height:70px}
	65% {height:70px;}
	70%	 {background-color:blue;left:800px; top:540px;height:30px;}
	75%  {height:80px;}
	100%{background-color:gray;left:1200px; top:0px;height:80px;}
}
.line-div
{
	background-color:white;
	height:5px;
	margin-top:540px;
	position:static;
	
}